body {
    color: #000000 !important;
    font-family: RobotoLight, sans-serif;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: RobotoMedium, sans-serif;
}

button {
    color: #379EC1 !important;
    padding: 20px;
    background: white;
}

@font-face {
    font-family: RobotoMedium;
    font-weight: 500;
    src: url(./assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoLight;
    font-weight: 500;
    src: url(./assets/fonts/Roboto-Light.ttf);
}